- @sitename


!!! 5
%html{html_attrs}
  %head
    %title= @title
    %link{:href => "stylesheets/stylesheet.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-1.5.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.color.js"}
    %script{:type => "text/javascript", :src => "javascripts/menu-control.js"}
    %script{:type => "text/javascript", :src => "javascripts/iscroll.js"}
    %script{:src => "javascripts/prototype.js", :type => "text/javascript"}
    %script{:src => "javascripts/scriptaculous.js?load=effects,builder", :type => "text/javascript"}
    %script{:src => "javascripts/lightbox.js", :type => "text/javascript"}
    %link{:href => "stylesheets/lightbox.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %script{:type => "text/javascript"}

    %style{:media => "all", :type => "text/css"}


  %body{:onorientationchange =>"ipadFunc();"}
  .bg2
  .bg1
  .header
  .contact-info-box
    .contact-info
      281-693-7767 | We open 7 days a week
  .left-side
  .menu-container
    %ul.menu
      %li
        %a{:href => "#", :id => "main-1-link"} HOME
        .menu-hl
      %li
        %a{:href => "#", :id => "main-2-link"} SERVICES
        .menu-hl
      %li{:style => "width:200px;visibility:hidden;"}
        %a{:href => "#"}
        //.menu-hl
      %li
        %a{:href => "#", :id => "main-4-link"} LINKS
        .menu-hl
      %li
        %a{:href => "#", :id => "main-5-link"} CONTACT
        .menu-hl
  .content-container#page1
    #page-1-content-bg
    #page-1-content
      .page-title HOME
      %ul.submenu
        %li.blue#page1-sub1
          %a{:href => "#"} About us
        %li.green#page1-sub2
          %a{:href => "#"} Coupons
      .content-type-1#page1-sub1-page
        .content-type-1-part-1
          %h1 Who we are
          %h2 Dr. Kevin Vu, DDS & Associates
          %p AAADentists is committed to giving you comprehensive dental treatment options that will give you a beautiful smile and improved oral health. We have many convenient locations all over Texas that provide state-of-the-art facilities to treat any number of dental issues. AAADentists offers General, Cosmetic, Orthodontic, Oral Surgery, Implant, Periodontics and Endodontics. 
          %p AAADentists provides treatment for patients of all ages, and we offer 7 days a week for your convenience. AAADentists is the easy way to affordable dental health. Welcome to our practice, and we look forward to hearing from you! treatment can have serious consequences.
          %h2{:style => "color:#134e66;"} We accept Medicaid, Texas Chips and Insurance
          %ul
            %li 
              %b{:style => "color:#134e66;"} Se Habla Espa&ntilde;ol
            %li
              %b{:style => "color:#134e66;"} Open 7 days a week
            %li
              %b{:style => "color:#134e66;"} Free Exam & Consultation (not including X-RAYS)
            %li
              %b{:style => "color:#134e66;"} Financing with Approved Credit
      .content-type-1#page1-sub2-page
        .content-type-1-part-1
          %h1 Monthly Specials
          %p Please print and cut out the special coupons.
          %a.normal-link{:href => "/images/coupon.pdf"}  
            %h2 Download the Print Friendly Version (PDF) here
          %img{:height => "745", :src => "/images/coupon.png", :width => "485", :style => "margin-left:30px;"}
  .content-container#page2
    #page-2-content
      .page-title SERVICES
      %ul.submenu
        %li.blue#page2-sub1
          %a{:href => "#"} Treatment
      .content-type-1#page2-sub1-page
        .content-type-1-part-1
          %h1 Treatments
          %h2 We provide
          %ul
            %li - General dentistry for you to maintain your oral health
            %li - Cosmetic dentistry for you to enhance your smile
            %li - Specialty dentistry when you need specialized care
          %h2 Some of our services are
          %ul
            %li - Oral surgery
            %li - Dental implants
            %li - Root canal therapy
            %li - Orthodontic treatment such as braces and Invisalign&reg clear teeth aligners
            %li - Gum treatment (periodontics)
  .content-container#page3
    #page-3-content
      .page-title INFORMATION
      %ul.submenu
        %li.blue#page3-sub1
          %a{:href => "#"} Periodontal
        %li.green#page3-sub2
          %a{:href => "#"} Cosmetic
      .content-type-1#page3-sub1-page
        .content-type-1-part-1
      .content-type-1#page3-sub2-page
        .content-type-1-part-1
  .content-container#page4
    #page-4-content
      .page-title Useful Links
      %ul.submenu
        %li.blue#page4-sub1
          %a{:href => "#"} Information
      .content-type-1#page4-sub1-page
        .content-type-1-part-1
          %h2 Healthy Teeth
          %p You chew with your teeth. They can be a fashion statement, give you a fabulous smile and they are part of what makes you... you. Reading this article will teach you how to maintain healthy teeth
          %a.normal-link{:href => "http://www.ehow.com/how_2300482_maintain-healthy-teeth.html", :style => "margin-left: 50px;", :target => "_blank"} Read more...
          %br
          %br
          %h2 American Dental Association 
          %p Founded in 1859, the American Dental Association is the oldest and largest national dental society in the world. Since then, the ADA has grown to become the leading source of oral health related information for dentists and their patients. Learn more about the ADA’s mission and vision, and our commitment to the public’s oral health, ethics, science and professional advancement and access to care for all Americans.
          %a.normal-link{:href => "http://www.ada.org/aboutada.aspx", :style => "margin-left: 50px;", :target => "_blank"} Read more...
          %br
          %br
          %h2 Orthodontics
          %p Orthodontics, orthodontia, or orthodonture (from Greek orthos "straight or proper"; and odous "tooth") is the first specialty of dentistry that is concerned with the study and treatment of malocclusions (improper bites), which may be a result of tooth irregularity, disproportionate jaw relationships, or both
          %a.normal-link{:href => "http://en.wikipedia.org/wiki/Orthodontics", :style => "margin-left: 50px;", :target => "_blank"} Read more...
          %br
          %br
          %h2 Gum Diseases
          %p Periodontitis is a set of inflammatory diseases affecting the periodontium, i.e., the tissues that surround and support the teeth. Periodontitis involves progressive loss of the alveolar bone around the teeth, and if left untreated, can lead to the loosening and subsequent loss of teeth
          %a.normal-link{:href => "http://en.wikipedia.org/wiki/Periodontitis", :style => "margin-left: 50px;", :target => "_blank"} Read more...
          %br
          %br
          %h2 Alternative Dentistry 
          %a.normal-link{:href => "http://www.simplyteeth.com/category/sections/adult/GeneralDentalSubjects/AlternativeDentistry.asp?category=adultList&section=99&page=3#WIAD", :style => "margin-left: 50px;", :target => "_blank"} Read more...
  .content-container#page5
    #page-5-content-bg
    #page-5-content
      .page-title CONTACTS
      %ul.submenu
        %li.blue#page5-sub1
          %a{:href => "#"} Contact
        %li.green#page5-sub2
          %a{:href => "#"} Questions
      .content-type-1#page5-sub1-page
        .content-type-1-part-1
          %h1 24 Day a week
          %p We open 7 days a week from 9:30am to 6:30pm at 5 locations.
          %p Emergencies and Walk-Ins are welcome.
          %h2 Main Office
          %p
            %b Address:
            1520-B South Mason Rd. at Highland Knolls Katy, TX
          %p
            %b Phone:
            281-693-7767
          %a.normal-link{:href => "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=1520-B+South+Mason+Rd.+at+Highland+Knolls+Katy,+TX&sll=29.761248,-95.751321&sspn=0.007917,0.013797&ie=UTF8&ll=29.760466,-95.751364&spn=0.008457,0.013797&z=16&iwloc=A", :style => "margin-left: 50px;", :target => "_blank"} Click for direction from Google Map
          %br
          %br
          %h2 SouthWest Office
          %p
            %b Address:
            8880 Bellaire Blvd, Suite E, Houston, TX 77036
          %p
            %b Phone:
            717-779-1121
          %a.normal-link{:href => "http://maps.google.com/maps?f=q&source=s_q&hl=en&q=8880+Bellaire+Blvd,+Suite+E,+Houston,+TX+77036&sll=29.760466,-95.75145&sspn=0.008457,0.013797&g=1520-B+South+Mason+Rd.+at+Highland+Knolls+Katy,+TX&ie=UTF8&ei=ryqqSs6cIJH2uwOsrLmqDA&cd=1&li=lmd&usq=8880+Bellaire+Blvd,+Suite+E,+Houston,+TX+77036&geocode=FbJFxQEdVCpO-g&cid=8595070646969615011&ll=29.707698,-95.54065&spn=0.008461,0.013797&z=16&iwloc=A", :style => "margin-left: 50px;", :target => "_blank"} Click for direction from Google Map
          %br
          %br
          %h2 Pasadena Office
          %p
            %b Address:
            4816 Fairmont Parkway, Houston, TX 77505
          %p
            %b Phone:
            281-991-9247
          %a.normal-link{:href => "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=4816+Fairmont+Parkway,+Houston,+TX+77505&sll=29.653859,-95.56818&sspn=0.008466,0.013797&ie=UTF8&ll=29.6522,-95.17087&spn=0.008466,0.013797&z=16&iwloc=r0", :style => "margin-left: 50px;", :target => "_blank"} Click for direction from Google Map
          %br
          %br
          %h2 Clear Lake Office
          %p
            %b Address:
            16605 El Camino Real, Houston, TX 77062
          %p
            %b Phone:
            281-461-9647
          %a.normal-link{:href => "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=16605+El+Camino+Real,+Houston,+TX+77062&sll=29.6522,-95.17087&sspn=0.008466,0.013797&ie=UTF8&ll=29.558713,-95.12068&spn=0.008474,0.013797&z=16&iwloc=r0", :style => "margin-left: 50px;", :target => "_blank"} Click for direction from Google Map
          %br
          %br
          %h2 Katy Office
          %p
            %b Address:
            1520 S Mason Road, # B, Katy, TX 77450
          %p
            %b Phone:
            281-693-7767
          %a.normal-link{:href => "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=1520+S+Mason+Road,+%23+B,+Katy,+TX+77450&sll=29.558713,-95.12068&sspn=0.008474,0.013797&g=16605+El+Camino+Real,+Houston,+TX+77062&ie=UTF8&ll=29.763092,-95.751686&spn=0.008457,0.013797&z=16&iwloc=r0", :style => "margin-left: 50px;", :target => "_blank"} Click for direction from Google Map
          %br
          %br
          %h2 Northwest Office
          %p
            %b Address:
            11602 Veterans Memorial Dr, Houston, TX 77067
          %p
            %b Phone:
            281-440-3701
          %a.normal-link{:href => "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=11602+Veterans+Memorial+Dr,+Houston,+TX+77067&sll=29.763092,-95.751686&sspn=0.008457,0.013797&ie=UTF8&ll=29.953224,-95.467973&spn=0.008441,0.013797&z=16&iwloc=r0", :style => "margin-left: 50px;", :target => "_blank"} Click for direction from Google Map
          %br
          %br
      .content-type-1#page5-sub2-page
        .content-type-1-part-1
          %h1 Questions
          %p If you have any additional questions, feel free to contact us.
          %iframe{:allowtransparency => "true", :frameborder => "0", :height => "629", :scrolling => "no", :src => "https://media3creative.wufoo.com/embed/w7w9x7/", :style => "width:500px;border:none;margin-left:30px;"}
            %a{:href => "https://media3creative.wufoo.com/forms/w7w9x7/", :title => "AAA Dentist"} Fill out my Wufoo form!


  .upper-footer
    All contents &copy; copyright 2010 - 2011 AAA Dentist | POWERED by MEDIA 3 CREATIVE.
  //footer
  // .footer-right
  //   %form#form1{:action => "", :method => "post", :name => "form1"}
  //     Sign up for our newsletter    |      Name:
  //     %input{:name => "text", :type => "text"}
  //     Email:
  //     %input{:name => "text", :type => "text"}
  //     %input{:name => "submit", :type => "button", :value => "Submit"}
  // .footer-left
  //   Powered by: media3creative.com
